* {
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    flex-direction: column;
}

.menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #2980b9; /* Couleur bleu foncé */
}

.menu button {
    background-color: #fff;
    color: #2980b9;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.menu button:hover {
    background-color: #1f6b8c;
    color: white;
}

.logo-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
}

.logo {
    width: 80px; /* Taille du logo */
}

.container {
    background-color: #fff;
    width: 100%;
    max-width: 600px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: hidden;
}

h1 {
    font-size: 24px;
    color: #2980b9;
    margin-bottom: 30px;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    font-weight: bold;
    font-size: 14px;
    color: #333;
}

input {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 14px;
}

button {
    width: 100%;
    background-color: #2980b9;
    color: white;
    font-size: 16px;
    padding: 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #1f6b8c;
}

.icon {
    margin-right: 10px;
}

.footer {
    margin-top: 20px;
    font-size: 12px;
    color: #888;
}

.footer a {
    color: #2980b9;
    text-decoration: none;
}

/* Rendre les éléments responsives */
@media screen and (max-width: 768px) {
    body {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .menu {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .menu button {
        width: 90%; /* Les boutons prennent toute la largeur */
        margin-bottom: 5px;
    }

    .container {
        width: 95%; /* Évite que le formulaire soit trop large */
        padding: 20px;
    }

    input, select, button {
        font-size: 14px; /* Rendre le texte plus lisible sur mobile */
        padding: 10px;
    }

    .effectif-img, .parking-img {
        width: 100%; /* Adapter l’image à l’écran */
        height: auto; 
    }

    .logo {
        width: 60px; /* Réduire la taille du logo pour éviter qu’il prenne trop de place */
    }
}
